.home-page {
  color: rgb(209, 209, 209);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
}

.linebreak2,
.linebreak {
  height: 1.5px;
  background-color: rgba(226, 226, 226, 0.774);
  margin-bottom: 15px;
}

.linebreak2 {
  height: 2px;
}

.player,
.player2 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}

.Reputations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Imgproperties {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.reputationsAlex,
.reputationsCaveJones {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.Reputations {
  margin-bottom: 200px;
}

.comment {
  margin-left: 55px;
  color: rgb(197, 197, 197);
  margin-bottom: 5px;
}

.like {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likenumber {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.likebutton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 56px;
  background-color: rgb(24, 24, 24);
  border: none;
  font-size: 20px;
  padding: 0;
  transform: opacity 0.1s;
}

.likebutton:hover {
  opacity: 0.8;
}

.what-we-about {
  color: rgb(197, 197, 197);
  font-weight: 500;
  font-size: 20px;
}

.help-us,
.welcome {
  font-size: 50px;
  font-weight: 700;
  color: rgb(44, 135, 209);
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.link-underline {
  font-weight: 700;
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.link-underline:hover {
  text-decoration: underline;
}

.whatitis {
  margin-left: 120px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(116, 135, 241);
}

.faq {
  margin-top: 200px;
}

.about-text-player {
  font-size: 25px;
}

.about-text {
  margin-left: 100px;
  font-size: 25px;
}

.picture {
  width: 100px;
  margin-left: 50px;
}

.playerflex {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.imgis {
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  width: 1500px;
}

.flexboximg {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
}

.title {
  color: rgb(197, 197, 197);
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.what-you-do-to-help,
.answerstatement {
  margin-left: 100px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(15, 216, 99);
  margin-bottom: 10px;
}

.copyright {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discordimg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.how-you-can-help,
.answer {
  margin-left: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1000px;
  font-weight: 500;
}

.how-you-can-help {
  color: rgb(235, 235, 235);
  font-weight: 600;
  font-size: 20px;
}

.endhelp {
  color: rgb(82, 143, 221);
  margin-top: 50px;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 700;
}

.please-sign-up,
.please-sign-up2 {
  color: rgb(233, 233, 233);
  margin-left: 50px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.please-sign-up {
  margin-top: 20px;
}

.account {
  color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.inline {
  max-width: 400px;
  margin: auto;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field-username,
.input-field-password {
  width: 100%;
  padding: 12px;
  text-align: center;
  border-style: none;
  margin-bottom: 10px;
}

.microsoft {
  margin-bottom: 25px;
  margin-left: 743px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 63, 135);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 158px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.15s;
  transition: opacity 0.15s;
}

.sign-in-with-microsoft {
  text-decoration: none;
}

.microsoft:hover {
  background-color: rgb(27, 89, 160);
}

.microsoft:active {
  opacity: 0.8;
}

.microsoftimg {
  width: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: white;
  border-radius: 5px;
  margin-right: 30px;
}

.submit {
  margin-left: 765px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(33, 158, 33);
  color: white;
}

.or {
  color: white;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 20px;
}
