.home-page{
    color: rgb(209, 209, 209);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
}

.linebreak2,
.linebreak{
    height: 1.5px;
    background-color:rgba(226, 226, 226, 0.774);
    margin-bottom: 15px;
}

.linebreak2{
    height: 2px;
}

.player,
.player2{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}

.Reputations{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Imgproperties{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.reputationsDungeonSweat_,
.reputationsExplorar2{
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.Reputations{
    margin-bottom: 200px;
}

.comment{
    margin-left: 55px;
    color: rgb(197, 197, 197);
    margin-bottom: 5px;
}



.like{
    color: white;
    margin-left: 56px;
    font-size: 20px;
}

.likebutton{
    background-color: rgb(24, 24, 24);
    border: none;
    font-size: 20px;
    padding: 0;
    transform: opacity 0.1s;
}

.likebutton:hover{
    opacity: 0.8;
}


.what-we-about{
    color: rgb(197, 197, 197);
    font-weight: 500;
    font-size: 20px;
}

.help-us,
.welcome{
    font-size: 50px;
    font-weight: 700;
    color: rgb(44, 135, 209);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}


.link-underline{
    font-weight: 700;
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.link-underline:hover{
    text-decoration: underline;
}

.whatitis{
    margin-left: 120px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(116, 135, 241);
   
}

.faq{
    margin-top: 200px;
}

.about-text-player{
    font-size: 25px;
}

.about-text{
    margin-left: 100px;
    font-size: 25px;
}

.picture{
    width: 100px;
    margin-left: 50px;
}

.playerflex{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.imgis{
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 1500px;
}

.flexboximg{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}

.title{
    color: rgb(197, 197, 197);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.what-you-do-to-help,
.answerstatement{
    margin-left: 100px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(15, 216, 99);
    margin-bottom: 10px;

}

.copyright{
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discordimg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.how-you-can-help,
.answer{
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
    font-weight: 500;
}

.how-you-can-help{
    color:rgb(235, 235, 235);
    font-weight: 600;
    font-size: 20px;
}

.endhelp{
    color: rgb(82, 143, 221);
    margin-top: 50px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
}